body {
    font-family: IBM Plex Sans;

    display: grid;
    grid-template-columns: 1fr 50rem 1fr;
    grid-template-rows: 1fr max-content;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}


#sidebar-container {
    position: sticky;
    top: 0;
}

#title {
    margin-bottom: 0;
    margin-top: 6rem;

    text-align: right;
    font-size: 3rem;
    font-weight: 300;
}

#subtitle {
    grid-column: span 2;

    display: flex;
    align-items: flex-end;

    font-size: 1.5rem;
    font-style: italic;
    color: gray;
}

#subtitle p {
    margin: 0;
    margin-bottom: .375rem;
}


#menu ul {
    position: sticky;
    top: 1rem;

    margin: 0;

    text-align: right;
    font-size: 1.25rem;
    color: gray;
}

#menu li {
    list-style: none;
    padding: .5em 0;
}

.post {
    grid-column: 2;
    position: relative;
}

.post h2 {
    display: inline;
    font-weight: 500;
    font-size: 2rem;

    margin-right: 1rem;
}

.post time {
    font-size: .875em;
    color: darkgray;
}

#subtitle p {
}

#posts {

}
