{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  Kye's Shinanigans
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Ha, get it?  It's a play on the word <em>shenanigans</em>, but it's
  spelled <em>shinanigans</em>, because my last name
  is <em>Shi</em>.  <em><strong>Get&nbsp;it?</strong></em>
</div>
