<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700,700i"/>
  </head>
  <body>
    <h1 id="title">{{ .Site.Title }}</h1>
    <div id="subtitle">
      <p>
        {{ .Site.Params.subtitle }}
      </p>
    </div>
    <nav id="menu">
      <ul>
        <li>About me</li>
        <li>Dear diary</li>
        <li>Tech ramblings</li>
        <li>Math musings</li>
        <li>My art</li>
        <li>Contact me baby</li>
      </ul>
    </nav>
    <main id="posts">
      {{ range first 5 .Pages }}
      <section class="post">
        <header>
          <h2>{{ .Title }}</h2>
          <time>{{ .Date.Format "Monday, 2006 January 2, 3:04 pm" }}</time>
        </header>
        <div class="content">
          {{ .Content }}
        </div>
      </section>
      {{ end }}
    </div>
  </body>
</html>
